body {
  margin: 0;
  font-family: "Inter", sans-serif;
  background-color: #f3f4f6;
  color: #1f2937;
  overflow-x: hidden; /* Prevent horizontal scrolling */
}

a {
  text-decoration: none;
  color: inherit;
}

section {
  width: 100%;
  box-sizing: border-box;
}

.app-container {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}
html {
  scroll-behavior: smooth;
}

